.addnewpinicon{
    font-size: 30px;
    padding-top: 24px;
    margin-left: 10px;

}

.addnewpinimage{
    margin-left: 136px;
    width: 35px;

}

.addnewpinheader{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 10px;
}

.addnewpinsubheader{

    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
}

.addnewsubheadertwo{
    font-size: 16px;
    margin-top: 9px;
    margin-left: 8px;

}

.newpincontainer > div {
   
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: inline-grid;
      width: 56px;
      height: 61px;
      margin-left: 23px;
      margin-top: 83px;

}


.inputnewpinone{


  width: 55px;
  border-radius: 0;
  border-inline-end: none;
  border-inline-start: none;
  border-block-start: none;
  background: transparent;
}

.newpinbutton{

    background-color: #0057ff;
    color: white;
    height: 72px;
    font-size: 18px;
    width: 100%;
    margin-top: 95%;
    position: fixed;
    bottom: 0;

}
