#curr-value {
  font-size: 32px;
  padding: 15px;
}

#curr-value > div {
  display: flex;
}

#curr-value > div > p {
  font-weight: bold;
  letter-spacing: 0.32px;
  padding: 10px;
}

#curr-value > div > span {
  margin-left: auto;
}

#curr-value > p {
  font-size: 14px;
  letter-spacing: 0.32px;
  padding: 10px;
}
