
  .myicon{

    font-size: 30px;
    padding-top: 33px;
    color:#666666
  }
.imageforgot{
    
    width: 30px;
    margin-left: 136px;
    padding-bottom: 18px;
   
}


  .forgotpasspage{

color:#ffffff;
font-size: 40px;
padding-top: 100px;
  }

  .headingforgot{

    color:#666666;
    font-size: 18px;
    padding-top: 5px
  }

  .subheadingforgot{
    color:#666666;
    font-size: 18px;
    margin-top: -9px;
  }

  .inputforgot{

    width: 100%;
    height: 50px;
    margin-top: 83px;
    color: #ffffff;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #adb3bc;
    background: transparent;
    border-radius: 0;

  }
.inputforgot:focus{

  outline:none;

}
  .recoverpass{
    color:#ffffff;
    font-size: 18px;
    background-color: #0057ff;
    height: 10%;
    position: absolute;
    
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
  }


  .rowforgotpass{

    margin-right: -15px;
    margin-left: -15px;
    height: 100%;
  }

  .newcolforgotpass{

    height: 100%;
    position: relative;

  }
  /* @media (max-width: 400px) {
    .recoverpass{
      margin-top: 200px;
    }
    
  } */