.backgroundNotifications{

    font-family: "SF Pro Display" !important;
    color: #ffffff;
    background-color: #0e0f18; 
    height: 811px;

}
.imageNotifications{

    width: 39px;
    margin-left: 166px;
    margin-top: 35px;
    
}
.iconNotifications{

    font-size: 138px;
    margin-left: 114px;
    margin-top: 135px;
}

.headingNotifications{
    font-size: 30px;
    margin-left: 69px;
    margin-top: 50px;
    color: #ffffff;
    font-weight: bold;


}
.subheadingNotifications{

    font-size: 16px;
    margin-left: 52px;
    margin-top: 21px;
}
.subheadingNotificationstwo{

    margin-left: 42px;
    margin-top: 10px;
}
.Notificationsbutton{
    width: 185px;
    height: 50px;
    color:#ffffff;
    border-radius: 40px;
    background-color: #0057ff;
    margin-left: 92px;
    margin-top: 48px;
    border-color: #0057ff;
}

