

.alldiv{

   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.imageNotifications{

    width: 39px;
    /* margin-left: 166px; */
    margin-top: 35px;
    
}
.iconNotifications{

    font-size: 138px;
    /* margin-left: 114px; */
    margin-top: 135px;
   
}

.headingNotifications{
    font-size: 30px;
    /* margin-left: 69px; */
    margin-top: 18px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 22px;


}
.subheadingNotifications{

    font-size: 16px;
    /* margin-left: 52px; */
    margin-top: 0px;
   
    padding-left: 23px;

}
.subheadingNotificationstwo{

    /* margin-left: 42px; */
    margin-top: -5px;
    padding-left: 27px;
}
.Notificationsbutton{
    width: 185px;
    height: 50px;
    color:#ffffff;
    border-radius: 40px;
    background-color: #0057ff;
    /* margin-left: 92px; */
    margin-top: 48px;
    border-color: #0057ff;
}

