.background {
  background-color: #0e0f18;
  height: 100vh;
}
.header {
  color: white;
  font-size: 25px;
  padding-top: 100px;
  margin-left: 35px;
  margin-bottom: 140px;
}

.subheader {
  color: white;
  font-size: 31px;
  margin-left: 30px;
}

.mainheading {
  color: white;
  font-size: 31px;
  margin-left: 30px;
}

.mainheadingtwo {
  color: white;
  font-size: 31px;

  margin-left: 30px;

  padding-bottom: 100px;
}

.emailid {
  margin-left: 22px;
  background-color: #0e0f18;
  height: 50px;

  width: 326px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #adb3bc;
}

.password {
  margin-left: 22px;

  background-color: #0e0f18;
  height: 50px;
  width: 326px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #adb3bc;
}

.forgotpass {
  color: white;
  font-size: 19px;
  margin-left: 137px;
  padding-top: 163px;

  padding-bottom: 74px;
}

.signinbutton {
  background-color: #0057ff;
  color: white;
  height: 72px;
  font-size: 18px;
  width: 377px;
  margin-top: -15px;
}
