.background {
  background-color: #0e0f18;
  height: 100vh;
}
.align-center{
  text-align: center;
}
.headersignup {
  color: #ffffff;
  font-size: 25px;
  padding-top: 46px;
  /* margin-left: 35px; */
  margin-bottom: -36px;
  padding-right: 220px;
} 

.px-0{
  padding-left: 0;
  padding-right: 0;
}

.adjustcentersignup {

  padding-top: 0%;
}
.imagesignup {
 
  /* margin-left: 162px; */
  width: 30px;
  padding-top: 8px;
}



.subheadersup {
  color: #ffffff;
  font-size: 30px;
  /* margin-left: 30px; */
  font-weight: bold;
  letter-spacing: 10;
  padding-top: 35px;
  padding-right: 119px;
}
.subheadertwosup {
  color: #ffffff;
  font-size: 31px;
  padding-right: 103px;
  /* margin-left: 30px; */

  padding-bottom: 100px;
  font-weight: bold;
}

.email{
  /* margin-left: 22px; */
  background-color: #0e0f18;
  height: 50px;
  color: #ffffff;
  width: 326px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #adb3bc;
  margin: 0 auto;
  
}
.email:focus{
  outline: none;

}

.passwordsignup{
 
  color: #ffffff; 
  background-color: #0e0f18;
  height: 50px;
  width: 326px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #adb3bc;
  margin: 0 auto;
}

.password:focus{

  outline: none;
}

.footer {
  font-weight: normal;
  color:#ffffff;
  font-size: 19px;
  /* margin-left: 52px; */
  padding-bottom: 14px;
  padding-top: 57px;
  font-size: 13px;
  letter-spacing: 0;
}

.footertwo {
  color: #ffffff;
  /* margin-left: 149px; */
  font-size: 13px;
  margin-top: -13px;
}

.signupbutton {
  background-color: #0057ff;
  color: #ffffff;
  height: 80px;
  font-size: 18px;
  width: 100%;
  border-radius: 0;
  margin-top: 23vh;
}
.signupbutton:focus{
  outline: none;

}
