
.userprofileicon{


    font-size: 30px;
    padding-top: 33px;
    color:#666666


}
.userprofileupper{

    font-size: 18px;
    margin-top: -38px;
    padding-left: 115px;
    color: #ffffff;
}
.Headingdetails{
    color: #ffffff;
    font-size: 32px;
    margin-top: 73px;
    font-weight: bold;
}
.userdetailsprofile{

    font-size: 16px;
    color: #666666;
    margin-top: 33px;
}

.usermyname{

    color:#ffffff
}
.userdetailsprofilename{

    font-size: 16px;
    color: #666666;
    margin-top: 46px;
}


.usermylastname{

    color:#ffffff
}
.userdetailsprofileemail{
    font-size: 16px;
    color: #666666;
    margin-top: 46px;

}

.usermyemail{

    color:#ffffff
}

.changepass{
    font-size: 20px;
    margin-top: 56px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.forwardicon{
    margin-bottom: 3px;
   
    font-size: 30px;
    color: #666666;
}
.deleteAccount{
    font-size: 20px;
    margin-top: 12px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.forwardicontwo{
    margin-bottom: 7px;
   
    font-size: 30px;
    color: #666666;
}

.usermyname{

    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;

}

.usermylastname{
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;

}


.usermyemail{
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;

}