
.backgrounduserprofile{


    font-family: "SF Pro Display" !important;
    color: #ffffff;
    background-color: #0e0f18; 
    height: 812px;
}
.userprofileicon{


    font-size: 30px;
    margin-left: 10px;
    padding-top: 33px;


}
.userprofileupper{

    font-size: 18px;
    margin-left: 135px;
    margin-top: -29px;
}
.Headingdetails{
    color: #ffffff;
    font-size: 32px;
    margin-left: 15px;
    margin-top: 73px;
    font-weight: bold;
}
.userdetailsprofile{

    font-size: 16px;
    color: #666666;
    margin-left: 13px;
    margin-top: 33px;
}
.userdetailsprofilename{

    font-size: 16px;
    color: #666666;
    margin-left: 14px;
    margin-top: 46px;
}

.userdetailsprofileemail{
    font-size: 16px;
    color: #666666;
    margin-left: 14px;
    margin-top: 46px;

}

.changepass{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 56px;
    color: #ffffff;

}

.forwardicon{
    margin-left: 325px;
    margin-bottom: 3px;
    margin-top: -26px;
    font-size: 30px;
    color: #666666;


}
.deleteAccount{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 12px;
    color: #ffffff;

}

.forwardicontwo{
    margin-left: 337px;
    margin-bottom: 7px;
    margin-top: -26px;
    font-size: 30px;
    color: #666666;


}

.usermyname{

    margin-left: 14px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;

}

.usermylastname{
    margin-left: 14px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;

}


.usermyemail{
    margin-left: 14px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;

}